body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  background: #f0f0f0;
  text-align: center;
  padding: 50px 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.btn {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Efecto en los enlaces al pasar el mouse */
.nav-link.hover-effect:hover {
  text-decoration: underline;
  color: #ffd700; /* Cambiar color al pasar el mouse */
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Estilos de la barra de búsqueda */
.search-bar input {
  width: 300px;
  border-radius: 25px;
  padding: 5px 20px;
}

/* Estilo para el ícono del carrito */
.cart i {
  font-size: 1.5rem;
}

.logo a {
  text-decoration: none; /* Quita el subrayado */
}

.navbar-nav {
  margin-left: 2%; /* Para alinear los enlaces al centro/derecha */
  padding-left: 1.5rem; /* Espaciado desde el borde izquierdo */
}